%h1.title= song.title if song.title
%h2.artist= song.artist if song.artist

%div.information
  %dl
    - if song.custom[:order]
      %dt.page Page
      %dd.page= song.custom[:order].to_i * 2

    - if song.tuning
      %dt.tuning Tuning
      %dd.tuning= song.tuning

    - if song.capo
      %dt.capo Capo
      %dd.capo= song.capo

    - if song.key
      %dt.key Key
      %dd.key= song.key

    - if song.tempo
      %dt.tempo Tempo
      %dd.tempo= song.tempo

    - if song.year
      %dt.year Year
      %dd.year= song.year

    - if song.album
      %dt.album Album
      %dd.album= song.album

  %div#chords
    - if ukulele
      %div#ukulele
        - song.chords.each do |chord|
          %span= ukulele_svg chord
    - else
      %div#guitar
        - song.chords.each do |chord|
          %span= guitar_svg chord
      %div#ukulele{style: 'display:none '}
        - song.chords.each do |chord|
          %span= ukulele_svg chord


- song.sections.each do |section|
  %div.section
    %div.name= section.name
    %div.lines
      - section.lines.each do|line|
        - if line.tablature?
          %div.tablature= line.tablature
        - elsif line.comment?
          %div.comment= line.comment
        - elsif line.measures?
          %div.measures
            - line.measures.each do |measure|
              %div.measure
                - measure.chords.each do |chord|
                  %div.chord= formatted_chord(chord)
        - else
          %div.line
            - line.parts.each do |part|
              %div.part
                %div.chord= formatted_chord(part.chord)
                %div.lyric= part.lyric
